$backgroundGreenLight : #b1cc40;
$backgroundGreenMedium : #4aa157;
$backgroundGreenDark : #347747;
$backgroundGrey : #808080;
$backgroundBlue : #369ccf;
$backgroundDarkBlue : #2a6f7d;

$titleBg : rgba(#000,0.15);





// slide class, bg-color, width, height, bg position
$slides: ( 
    ("slide11", $backgroundGreenLight, 871px,572px, 130px 192px), 
    ("slide12", $backgroundGreenMedium, 870px,497px, 130px 265px),
    ("slide13", $backgroundGreenDark, 945px,576px, 52px 185px),
    ("slide14", $backgroundGreenDark, 884px,579px, 112px 185px),
    ("slide141", $backgroundGreenDark, 944px,747px, 50px 14px),
    ("slide142", $backgroundGreenDark, 977px,747px, 50px 14px),
    ("slide15", $backgroundGrey, 943px,576px, 53px 186px),
    ("slide151", $backgroundGrey, 947px,747px, 50px 14px),
    ("slide16", $backgroundBlue, 946px,578px, 50px 184px),
    ("slide161", $backgroundBlue, 945px,747px, 50px 14px),
    ("slide162", $backgroundBlue, 945px,747px, 50px 14px),
    ("slide163", $backgroundBlue, 945px,747px, 50px 14px),
    ("slide17", $backgroundGreenMedium, 945px,585px, 50px 177px),
    ("slide18", $backgroundDarkBlue, 945px,579px, 50px 183px)
);

@each $slide in $slides {

	$class : nth($slide, 1);
  	$bg-color : nth($slide, 2);
  	$width : nth($slide, 3);
  	$height : nth($slide, 4);
  	$bg-position : nth($slide, 5);

  .#{$class}{

  	  background-color: $bg-color;
      @include at2x('../images/#{$class}/bg',"png", $width, $height);
      background-repeat: no-repeat;
      background-position: $bg-position;
      
      .slide-icon{
        @include at2x('../images/#{$class}/slide-icon',"png", 152px, 152px);
        @extend .extend-slide-icon;
      }
      
    }
    
} 