@import "compass/css3";
@import 'myMixins';
@import 'myVars';
@import 'myExtends';


@font-face {
  font-family: 'NewsGothicStd-Bold';
  src: url('../fonts/NewsGothicStd-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/NewsGothicStd-Bold.woff') format('woff'), url('../fonts/NewsGothicStd-Bold.ttf')  format('truetype'), url('../fonts/NewsGothicStd-Bold.svg#NewsGothicStd-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'NewsGothicCondensed';
  src: url('../fonts/NewsGothicCondensed.eot?#iefix') format('embedded-opentype'),  url('../fonts/NewsGothicCondensed.woff') format('woff'), url('../fonts/NewsGothicCondensed.ttf')  format('truetype'), url('../fonts/NewsGothicCondensed.svg#NewsGothicCondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}

*{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

// *:not(html) {
//     -webkit-transform: translate3d(0, 0, 1px);
// }

body{
  margin:0;
  padding: 0;
  width: 1024px;
  height: 768px;
}

button{
  outline:none;
  border:none;
}

.ng-enter{
	opacity: 0;
	// transform : scale(0.8);
	transition : 1s all;
}

.ng-enter-active{
	opacity: 1;
	// transform : scale(1);
}

.ng-leave{
	opacity: 1;
	// transform : scale(1);
	transition : 1s all;

  &.asthma{
    // left: 35px;
  }
}

.ng-leave-active{
	opacity: 0;
	// transform : scale(1.2);
}


h1{
  font-family: 'NewsGothicStd-Bold';
  height: 85px;
  color: #FFF;
  background-color: $titleBg;
  padding: 5px 50px;
  border-radius: 0 10px 10px 0;
  width: 480px;
  opacity: 0;
  position: relative;
  @include transform(translate(-445px,0));
  top: 30px;
  display: table-cell;
  vertical-align: middle;
  font-size: 28px;

  .hazard{
    @include at2x('../images/hazard',"png", 15px, 94px);
    width:15px;
    height:94px;
    display: block;
    position: absolute;
    left: 565px;
    top: 0;
  }
}

.code{
  position: absolute;
  left: 915px;
  top: 754px;
  font-size: 10px;
  color: white;
}

.video-text{
    position: absolute;
    z-index: 9999;
    top: 738px;
    left: 127px;
    color: #FFF;
    font-size: 10px;
}

.popup{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.8);
  opacity: 1;
  z-index: 999999;
  transition: 1s all;

  video{
    @extend .absolute-center;
    transition: 1s all;
    transition-delay:0.5s;
    opacity: 1;
    border-radius: 10px;
  }

  .close{
    @include at2x('../images/close',"png", 37px, 38px);
    width:74px;
    height:75px;
    position: absolute;
    top: 126px;
    left: 852px;
    font-size: 2.5em;
    color: #FFF;
    z-index: 9999;
    background-repeat: no-repeat;
    background-position: 15px 25px;
  }

  .small-print{
    width: 700px;
    height: 200px;
    padding : 25px;
    background: $backgroundGrey;
    color: white;
    border: solid 5px white;
    @extend .absolute-center;
  }

}

.popup.ng-hide{
  opacity: 0;

  video{
    top:80px;
    opacity: 0;
  }
}

.popup.ng-hide-add { 
  opacity: 0;
  transition : none;
}
.popup.ng-hide-add.ng-hide-remove-active { 
  opacity: 0;
  transition : none;
}



.swiper-container {
    @extend .inherit-size;

    .swiper-slide{
      overflow: hidden;
    }

    .swiper-slide-active{

      .slide-icon{
        // transform: rotate(0deg);
        // left: 845px;
      }
      
      h1{
        opacity: 1;
        @include transform(translate3d(0,0,0));
        -webkit-transition: 1s all; /* Safari */
        transition: 1s all;
        -webkit-transition-delay: 0.5s; /* Safari */
        transition-delay: 0.5s;
      }

      .road1{
        width:357px;
        -webkit-transition: 1s linear all; /* Safari */
        transition: 1s linear all;
        -webkit-transition-delay: 0.5s; /* Safari */
        transition-delay: 0.5s;
      }

      .road2{
        width:138px;
        -webkit-transition: 1s linear all; /* Safari */
        transition: 1s linear all;
        -webkit-transition-delay: 0.5s; /* Safari */
        transition-delay: 0.5s;
      }

      .road3{
        width:264px;
        -webkit-transition: 1s linear all; /* Safari */
        transition: 1s linear all;
        -webkit-transition-delay: 0.5s; /* Safari */
        transition-delay: 0.5s;
      }

      .road4{
        width:206px;
        -webkit-transition: 1s linear all; /* Safari */
        transition: 1s linear all;
        -webkit-transition-delay: 0.5s; /* Safari */
        transition-delay: 0.5s;
      }

      &.slide13{
        .graph{
          background-position: 0 0;
          background-repeat: no-repeat;
          -webkit-transition: 1s linear all; /* Safari */
          transition: 1s linear all;
          -webkit-transition-delay: 0.5s; /* Safari */
          transition-delay: 0.5s;
        }

        .graph1-btn{
            height: 475px;
            width: 449px;
            position: absolute;
            top: 165px;
            left: 50px;
            background-color: rgba(0, 0, 0, 0);
        }

        .graph2-btn{
            height: 475px;
            width: 449px;
            position: absolute;
            top: 165px;
            left: 543px;
            background-color: rgba(0, 0, 0, 0);
        }


      }

      &.slide14{
        .circle{
          transform:rotate(0deg);
          opacity: 1;
          -webkit-transition: 1s linear all; /* Safari */
          transition: 1s linear all;
          -webkit-transition-delay: 0.5s; /* Safari */
          transition-delay: 0.5s;
        }
      }


      &.slide141{
        .graph{
          background-position: 0 0;
          background-repeat: no-repeat;
          -webkit-transition: 1s linear all; /* Safari */
          transition: 1s linear all;
          -webkit-transition-delay: 0.5s; /* Safari */
          transition-delay: 0.5s;
        }

        .graph1-btn{
          height: 475px;
          width: 462px;
          position: absolute;
          top: 165px;
          left: 495px;
          background-color: rgba(0, 0, 0, 0);
        }
      }

      &.slide15{
        .bg2{
          -webkit-transition: 1s linear all; /* Safari */
          transition: 1s linear all;
          -webkit-transition-delay: 0.5s; /* Safari */
          transition-delay: 0.5s;
          opacity: 1;
					@include transform (translate(478px,60px));
        }
      }

      &.slide151{
        .bg2{
          -webkit-transition: 1s linear all; /* Safari */
          transition: 1s linear all;
          -webkit-transition-delay: 0.5s; /* Safari */
          transition-delay: 0.5s;
          @include transform (translate(478px,80px));
          opacity: 1;
        }
      }

      &.slide162{
        .bg2{
          background-position: 0 0;
          -webkit-transition: 1s linear all; /* Safari */
          transition: 1s linear all;
          -webkit-transition-delay: 0.5s; /* Safari */
          transition-delay: 0.5s;
        }

        .graph1-btn{
            height: 475px;
            width: 449px;
            position: absolute;
            top: 165px;
            left: 50px;
            background-color: rgba(0, 0, 0, 0);
        }

        .graph2-btn{
            height: 475px;
            width: 449px;
            position: absolute;
            top: 165px;
            left: 543px;
            background-color: rgba(0, 0, 0, 0);
        }
      }

      &.slide163{
        .bg2{
          background-position: 0 0;
          -webkit-transition: 1s linear all; /* Safari */
          transition: 1s linear all;
          -webkit-transition-delay: 0.5s; /* Safari */
          transition-delay: 0.5s;
        }

        .graph1-btn{
            height: 475px;
            width: 449px;
            position: absolute;
            top: 165px;
            left: 50px;
            background-color: rgba(0, 0, 0, 0);
        }

        .graph2-btn{
            height: 475px;
            width: 449px;
            position: absolute;
            top: 165px;
            left: 543px;
            background-color: rgba(0, 0, 0, 0);
        }
      }

       &.slide18{
        .bg2{
          -webkit-transition: 1s linear all; /* Safari */
          transition: 1s linear all;
          -webkit-transition-delay: 0.5s; /* Safari */
          transition-delay: 0.5s;
          opacity: 1;
          @include translate3d(426px,100px,0);
        }
      }

    }

    .road1{
      @include at2x('../images/road1',"png", 357px, 109px);
      width: 0;
      height:109px;
      position: absolute;
      left: 667px;
      top: 0;
      z-index: -100;
    }

    .road2{
      @include at2x('../images/road2',"png", 138px, 111px);
      width: 0;
      height:111px;
      position: absolute;
      left: 886px;
      top: 0;
      z-index: -100;
    }

    .road3{
      @include at2x('../images/road3',"png", 264px, 125px);
      width: 0;
      height:125px;
      position: absolute;
      left: 760px;
      top: 0;
      z-index: -100;
    }

    .road4{
      @include at2x('../images/road4',"png", 206px, 109px);
      width: 0;
      height:109px;
      position: absolute;
      left: 669px;
      top: 0;
      z-index: -100;
    }

    .slide11{
      .block1{
        position: absolute;
        top: 192px;
        left: 131px;
        height: 115px;
        width: 360px;
      }

      .block2{
        position: absolute;
        top: 335px;
        left: 131px;
        height: 115px;
        width: 360px;
      }

      .block3{
        position: absolute;
        top: 456px;
        left: 131px;
        height: 160px;
        width: 360px;
      }

      .block4{
        position: absolute;
        top: 335px;
        left: 565px;
        height: 115px;
        width: 360px;
      }
    }

    .slide12{
      .block1{
        position: absolute;
        top: 265px;
        left: 131px;
        height: 127px;
        width: 360px;
      }

      .block2{
        position: absolute;
        top: 417px;
        left: 131px;
        height: 115px;
        width: 360px;
      }

      .block3{
        position: absolute;
        top: 255px;
        left: 534px;
        height: 151px;
        width: 368px;
      }

      .block4{
        position: absolute;
        top: 410px;
        left: 565px;
        height: 140px;
        width: 360px;
      }
    }

    .slide13{
      .graph{
        @include at2x('../images/slide13/graph',"png", 822px, 172px);
        background-position: 0 172px;
        width: 822px;
        height:172px;
        position: absolute;
        left: 121px;
        top: 336px;
      }

      .graph1{
        @include at2x('../images/slide13/graph1',"png", 609px, 659px);
        width: 609px;
        height:659px;
        @extend .absolute-center;
      }

      .graph2{
        @include at2x('../images/slide13/graph2',"png", 610px, 659px);
        width: 610px;
        height:659px;
        @extend .absolute-center;
      }
    }

    .slide14{
      .circle{
        @include at2x('../images/slide14/circle',"png", 507px, 507px);
        width: 507px;
        height:507px;
        position: absolute;
        left: 283px;
        top: 170px;
        opacity: 0;
        transform:rotate(-90deg);
      }
    }

    .slide141{
      .graph{
        @include at2x('../images/slide141/graph',"png", 316px, 150px);
        background-position: 0 150px;
        width: 316px;
        height:150px;
        position: absolute;
        left: 618px;
  			top: 384px;
      }

      .graph1{
        @include at2x('../images/slide141/graph1',"png", 609px, 575px);
        width: 609px;
        height:575px;
        @extend .absolute-center;
      }

    }

    .slide15{
      .bg2{
        @include at2x('../images/slide15/bg2',"png", 538px, 493px);
        width: 538px;
        height:493px;
        position: absolute;
        @include transform (translate(478px,80px));
        opacity: 0;
      }
    }

    .slide151{
      .bg2{
        @include at2x('../images/slide151/bg2',"png", 546px, 264px);
        width: 546px;
        height:264px;
        position: absolute;
        @include transform (translate(478px,100px));
        opacity: 0;
      }
    }

    .slide16{
      .bg2{
        @include at2x('../images/slide16/bg2',"png", 574px, 466px);
        width: 574px;
        height:466px;
        position: absolute;
        left: 435px;
        top: 207px;
        opacity: 1;
      }

      .num{
        color: white;
        font-size: 60px;
        position: absolute;
        font-weight: bold;
        font-family: 'NewsGothicCondensed';

        &.num1{
          left: 743px;
          top: 270px;
          color: #e5ff90;
        }

        &.num2{
          left: 450px;
          top: 318px;
        }

        &.num3{
          left: 648px;
          top: 385px;
          color: #1d404a;
        }

        &.num4{
          left: 802px;
          top: 466px;
          color: #e5ff90;
        }

      }
    }

    .slide162{
      .bg2{
        @include at2x('../images/slide162/bg2',"png", 736px, 166px);
        width: 736px;
        height:166px;
        position: absolute;
        left: 163px;
        top: 361px;
        background-position: 0 192px;
        background-repeat: no-repeat;
      }

      .graph1{
        @include at2x('../images/slide162/graph1',"png", 609px, 608px);
        width: 609px;
        height:608px;
        @extend .absolute-center;
      }

      .graph2{
        @include at2x('../images/slide162/graph2',"png", 610px, 608px);
        width: 610px;
        height:608px;
        @extend .absolute-center;
      }
    }

    .slide163{
      .bg2{
        @include at2x('../images/slide163/bg2',"png", 703px, 216px);
        width: 703px;
        height:216px;
        position: absolute;
        left: 164px;
        top: 312px;
        background-position: 0 215px;
        background-repeat: no-repeat;
      }

      .graph1{
        @include at2x('../images/slide163/graph1',"png", 609px, 608px);
        width: 609px;
        height:608px;
        @extend .absolute-center;
      }

      .graph2{
        @include at2x('../images/slide163/graph2',"png", 610px, 608px);
        width: 610px;
        height:608px;
        @extend .absolute-center;
      }
    }

    .slide18{
      .bg2{
        @include at2x('../images/slide18/bg2',"png", 598px, 234px);
        width: 598px;
        height:234px;
        position: absolute;
        // left: 426px;
        // top: 224px;
        @include translate(426px,120px);
        opacity: 0;
      }
    }


}



.container{
  width: 1024px;
  height: 768px;
  position: absolute;
  top: 0;
  left: 0;
}

.map-btn{
	@extend .btn;
  @extend .bottom-btn;
  @include at2x('../images/map',"png", 65px, 54px);
	left: 914px;
  border-radius:5px 0 0 5px;
  -moz-border-radius:5px 0 0 5px;
  -webkit-border-radius:5px 0 0 5px;

  &[disabled]{
    opacity: 0.3;
  }
}

.arrow-btn{
  @extend .btn;
  @extend .bottom-btn;
  @include at2x('../images/next',"png", 67px, 40px);
  left: 914px;
  border-radius:5px 0 0 5px;
  -moz-border-radius:5px 0 0 5px;
  -webkit-border-radius:5px 0 0 5px;
  background-position: 25px 18px;

  &[disabled]{
    opacity: 0.3;
  }
}

.video-btn{
  @extend .btn;
  @extend .bottom-btn;
  @include at2x('../images/play',"png", 101px, 65px);
  left: 0;
  border-radius: 0 5px 5px 0;
  -moz-border-radius:0 5px 5px 0;
  -webkit-border-radius:0 5px 5px 0;
  transition: all 1s;
  background-position:0 5px !important;

  &[disabled]{
    opacity: 0;
  }
}

.map{
  @extend .inherit-size;
  @include at2x('../images/map-bg',"png", 1002px, 719px);
  background-color: $backgroundGreenLight;
  background-repeat: no-repeat;
  background-position: 0 40px;
  position: absolute;

  h1{
    opacity: 1;
    left: 0;
  }

  button{
    transition: 1s all;
    &.active{
      @include transform(translate(880px,65px) scale(1.8) rotate(360deg));
      z-index: 999999999999;
    }
  }


  .asthma-btn{
  	@extend .btn;
  	@include at2x('../images/asthma',"png", 103px, 103px);
    @include transform(translate(54px,231px) scale(1) rotate(0));
    width: 103px;
    height: 103px;

    &.wait{
      @include transform(translate(54px,231px) scale(0) rotate(0));
    }

  }

  .asthma-treatment-btn{
  	@extend .btn;
  	@include at2x('../images/asthma-treatment',"png", 83px, 83px);
    @include transform(translate(231px,375px) scale(1) rotate(0));
  	width: 83px;
  	height: 83px;

    &.wait{
      @include transform(translate(231px,375px) scale(0) rotate(0));
    }

  }

  .overestimating-btn{
  	@extend .btn;
  	@include at2x('../images/overestimating',"png", 83px, 83px);
    @include transform(translate(408px,375px) scale(1) rotate(0));
  	width: 83px;
  	height: 83px;

    &.wait{
      @include transform(translate(408px,375px) scale(0) rotate(0));
    }
  }

  .lacking-btn{
  	@extend .btn;
  	@include at2x('../images/lacking',"png", 83px, 83px);
    @include transform(translate(582px,375px) scale(1) rotate(0));
  	width: 83px;
  	height: 83px;

    &.wait{
      @include transform(translate(582px,375px) scale(0) rotate(0));
    }
  }

  .improving-btn{
  	@extend .btn;
  	@include at2x('../images/improving',"png", 83px, 83px);
    @include transform(translate(797px,375px) scale(1) rotate(0));
  	width: 83px;
  	height: 83px;

    &.wait{
      @include transform(translate(797px,375px) scale(0) rotate(0));
    }
  }

  .good-btn{
  	@extend .btn;
  	@include at2x('../images/good',"png", 83px, 83px);
    @include transform(translate(888px,270px) scale(1) rotate(0));
  	width: 83px;
  	height: 83px;

    &.wait{
      @include transform(translate(888px,270px) scale(0) rotate(0));
    }
  }

  .corticosteroids-btn{
  	@extend .btn;
  	@include at2x('../images/corticosteroids',"png", 83px, 83px);
    @include transform(translate(439px,511px) scale(1) rotate(0));
  	width: 83px;
  	height: 83px;

    &.wait{
      @include transform(translate(439px,511px) scale(0) rotate(0));
    }
  }

  .horizons-btn{
  	@extend .btn;
  	@include at2x('../images/horizons',"png", 103px, 103px);
    @include transform(translate(897px,46px) scale(1) rotate(0));
  	width: 103px;
  	height: 103px;

    &.wait{
      @include transform(translate(897px,46px) scale(0) rotate(0));
    }
  }

}



