@import "compass/css3";
@import 'myMixins';
@import 'myVars';
@import 'myExtends';


@font-face {
  font-family: 'NewsGothicStd-Bold';
  src: url('../fonts/NewsGothicStd-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/NewsGothicStd-Bold.woff') format('woff'), url('../fonts/NewsGothicStd-Bold.ttf')  format('truetype'), url('../fonts/NewsGothicStd-Bold.svg#NewsGothicStd-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'NewsGothicCondensed';
  src: url('../fonts/NewsGothicCondensed.eot?#iefix') format('embedded-opentype'),  url('../fonts/NewsGothicCondensed.woff') format('woff'), url('../fonts/NewsGothicCondensed.ttf')  format('truetype'), url('../fonts/NewsGothicCondensed.svg#NewsGothicCondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}

*{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body{
  margin:0;
  padding: 0;
  width: 1024px;
  height: 768px;
}

button{
  outline:none;
  border:none;
}

.ng-enter{
	opacity: 0;
	// transform : scale(0.8);
	transition : 1s all;
}

.ng-enter-active{
	opacity: 1;
	// transform : scale(1);
}

.ng-leave{
	opacity: 1;
	// transform : scale(1);
	transition : 1s all;

  &.asthma{
    // left: 35px;
  }
}

.ng-leave-active{
	opacity: 0;
	// transform : scale(1.2);
}



h1{
  font-family: 'NewsGothicStd-Bold';
  height: 85px;
  color: #FFF;
  background-color: $titleBg;
  padding: 5px 50px;
  border-radius: 0 10px 10px 0;
  width: 480px;
  opacity: 0;
  position: relative;
  @include transform(translate(-445px,0));
  top: 30px;
  display: table-cell;
  vertical-align: middle;
  font-size: 28px;

  .hazard{
    @include at2x('../images/hazard',"png", 15px, 94px);
    width:15px;
    height:94px;
    display: block;
    position: absolute;
    left: 565px;
    top: 0;
  }
}

.popup{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.8);
  opacity: 1;
  z-index: 999999;
  transition: 1s all;

  video{
    @extend .absolute-center;
    transition: 1s all;
    transition-delay:0.5s;
    opacity: 1;
    border-radius: 10px;
  }

  .close{
    @include at2x('../images/close',"png", 37px, 38px);
    width:74px;
    height:75px;
    position: absolute;
    top: 126px;
    left: 852px;
    font-size: 2.5em;
    color: #FFF;
    z-index: 9999;
    background-repeat: no-repeat;
    background-position: 15px 25px;
  }

}

.popup.ng-hide{
  opacity: 0;

  video{
    top:80px;
    opacity: 0;
  }
}

.popup.ng-hide-add { 
  opacity: 0;
  transition : none;
}
.popup.ng-hide-add.ng-hide-remove-active { 
  opacity: 0;
  transition : none;
}



.swiper-container {
    @extend .inherit-size;

    .swiper-slide{
      overflow: hidden;
    }

    .swiper-slide-active{

      .slide-icon{
        // transform: rotate(0deg);
        // left: 845px;
      }
      
      h1{
        opacity: 1;
        @include transform(translate(0,0));
        -webkit-transition: 1s all; /* Safari */
        transition: 1s all;
        -webkit-transition-delay: 0.5s; /* Safari */
        transition-delay: 0.5s;
      }

      .road1{
        width:357px;
        -webkit-transition: 1s linear all; /* Safari */
        transition: 1s linear all;
        -webkit-transition-delay: 0.5s; /* Safari */
        transition-delay: 0.5s;
      }

      .road2{
        width:138px;
        -webkit-transition: 1s linear all; /* Safari */
        transition: 1s linear all;
        -webkit-transition-delay: 0.5s; /* Safari */
        transition-delay: 0.5s;
      }

      .road3{
        width:264px;
        -webkit-transition: 1s linear all; /* Safari */
        transition: 1s linear all;
        -webkit-transition-delay: 0.5s; /* Safari */
        transition-delay: 0.5s;
      }

      .road4{
        width:206px;
        -webkit-transition: 1s linear all; /* Safari */
        transition: 1s linear all;
        -webkit-transition-delay: 0.5s; /* Safari */
        transition-delay: 0.5s;
      }

      &.slide13{
        .graph{
          background-position: 0 0;
          background-repeat: no-repeat;
          -webkit-transition: 1s linear all; /* Safari */
          transition: 1s linear all;
          -webkit-transition-delay: 0.5s; /* Safari */
          transition-delay: 0.5s;
        }

        .graph1-btn{
            height: 475px;
            width: 449px;
            position: absolute;
            top: 165px;
            left: 50px;
            background-color: rgba(0, 0, 0, 0);
        }

        .graph2-btn{
            height: 475px;
            width: 449px;
            position: absolute;
            top: 165px;
            left: 543px;
            background-color: rgba(0, 0, 0, 0);
        }


      }

      &.slide14{
        .circle{
          transform:rotate(0deg);
          opacity: 1;
          -webkit-transition: 1s linear all; /* Safari */
          transition: 1s linear all;
          -webkit-transition-delay: 0.5s; /* Safari */
          transition-delay: 0.5s;
        }
      }


      &.slide141{
        .graph{
          background-position: 0 0;
          background-repeat: no-repeat;
          -webkit-transition: 1s linear all; /* Safari */
          transition: 1s linear all;
          -webkit-transition-delay: 0.5s; /* Safari */
          transition-delay: 0.5s;
        }

        .graph1-btn{
          height: 475px;
          width: 462px;
          position: absolute;
          top: 165px;
          left: 495px;
          background-color: rgba(0, 0, 0, 0);
        }
      }

      &.slide15{
        .bg2{
          -webkit-transition: 1s linear all; /* Safari */
          transition: 1s linear all;
          -webkit-transition-delay: 0.5s; /* Safari */
          transition-delay: 0.5s;
          opacity: 1;
          top: 155px;
        }
      }

      &.slide151{
        .bg2{
          -webkit-transition: 1s linear all; /* Safari */
          transition: 1s linear all;
          -webkit-transition-delay: 0.5s; /* Safari */
          transition-delay: 0.5s;
          top: 203px;
          opacity: 1;
        }
      }

      &.slide162{
        .bg2{
          background-position: 0 0;
          -webkit-transition: 1s linear all; /* Safari */
          transition: 1s linear all;
          -webkit-transition-delay: 0.5s; /* Safari */
          transition-delay: 0.5s;
        }

        .graph1-btn{
            height: 475px;
            width: 449px;
            position: absolute;
            top: 165px;
            left: 50px;
            background-color: rgba(0, 0, 0, 0);
        }

        .graph2-btn{
            height: 475px;
            width: 449px;
            position: absolute;
            top: 165px;
            left: 543px;
            background-color: rgba(0, 0, 0, 0);
        }
      }

      &.slide163{
        .bg2{
          background-position: 0 0;
          -webkit-transition: 1s linear all; /* Safari */
          transition: 1s linear all;
          -webkit-transition-delay: 0.5s; /* Safari */
          transition-delay: 0.5s;
        }

        .graph1-btn{
            height: 475px;
            width: 449px;
            position: absolute;
            top: 165px;
            left: 50px;
            background-color: rgba(0, 0, 0, 0);
        }

        .graph2-btn{
            height: 475px;
            width: 449px;
            position: absolute;
            top: 165px;
            left: 543px;
            background-color: rgba(0, 0, 0, 0);
        }
      }

       &.slide18{
        .bg2{
          -webkit-transition: 1s linear all; /* Safari */
          transition: 1s linear all;
          -webkit-transition-delay: 0.5s; /* Safari */
          transition-delay: 0.5s;
          opacity: 1;
          top: 218px;
        }
      }

    }

    .road1{
      @include at2x('../images/road1',"png", 357px, 109px);
      width: 0;
      height:109px;
      position: absolute;
      left: 667px;
      top: 0;
      z-index: -100;
    }

    .road2{
      @include at2x('../images/road2',"png", 138px, 111px);
      width: 0;
      height:111px;
      position: absolute;
      left: 886px;
      top: 0;
      z-index: -100;
    }

    .road3{
      @include at2x('../images/road3',"png", 264px, 125px);
      width: 0;
      height:125px;
      position: absolute;
      left: 760px;
      top: 0;
      z-index: -100;
    }

    .road4{
      @include at2x('../images/road4',"png", 206px, 109px);
      width: 0;
      height:109px;
      position: absolute;
      left: 669px;
      top: 0;
      z-index: -100;
    }

    .slide13{
      .graph{
        @include at2x('../images/slide13/graph',"png", 804px, 172px);
        background-position: 0 172px;
        width: 804px;
        height:172px;
        position: absolute;
        left: 121px;
        top: 317px;
      }

      .graph1{
        @include at2x('../images/slide13/graph1',"png", 625px, 659px);
        width: 625px;
        height:659px;
        @extend .absolute-center;
      }

      .graph2{
        @include at2x('../images/slide13/graph2',"png", 625px, 608px);
        width: 625px;
        height:608px;
        @extend .absolute-center;
      }
    }

    .slide14{
      .circle{
        @include at2x('../images/slide14/circle',"png", 507px, 507px);
        width: 507px;
        height:507px;
        position: absolute;
        left: 250px;
        top: 150px;
        opacity: 0;
        transform:rotate(-90deg);
      }
    }

    .slide141{
      .graph{
        @include at2x('../images/slide141/graph',"png", 330px, 150px);
        background-position: 0 150px;
        width: 330px;
        height:150px;
        position: absolute;
        left: 595px;
        top: 366px;
      }

      .graph1{
        @include at2x('../images/slide141/graph1',"png", 660px, 608px);
        width: 660px;
        height:608px;
        @extend .absolute-center;
      }

    }

    .slide15{
      .bg2{
        @include at2x('../images/slide15/bg2',"png", 538px, 493px);
        width: 538px;
        height:493px;
        position: absolute;
        left: 486px;
        top: 175px;
        opacity: 0;
      }
    }

    .slide151{
      .bg2{
        @include at2x('../images/slide151/bg2',"png", 546px, 264px);
        width: 546px;
        height:264px;
        position: absolute;
        left: 478px;
        top: 223px;
        opacity: 0;
      }
    }

    .slide16{
      .bg2{
        @include at2x('../images/slide16/bg2',"png", 597px, 455px);
        width: 597px;
        height:455px;
        position: absolute;
        left: 415px;
        top: 195px;
        opacity: 1;
      }

      .num{
        color: white;
        font-size: 60px;
        position: absolute;
        font-weight: bold;
        

        .odometer-inside{
          font-family: 'NewsGothicCondensed';
        }

        &.num1{
          left: 743px;
          top: 270px;
        }

        &.num2{
          left: 450px;
          top: 318px;
        }

        &.num3{
          left: 648px;
          top: 385px;
        }

        &.num4{
          left: 802px;
          top: 466px;
        }

      }
    }

    .slide162{
      .bg2{
        @include at2x('../images/slide162/bg2',"png", 736px, 192px);
        width: 736px;
        height:192px;
        position: absolute;
        left: 163px;
        top: 327px;
        background-position: 0 192px;
        background-repeat: no-repeat;
      }

      .graph1{
        @include at2x('../images/slide162/graph1',"png", 625px, 608px);
        width: 625px;
        height:608px;
        @extend .absolute-center;
      }

      .graph2{
        @include at2x('../images/slide162/graph2',"png", 625px, 608px);
        width: 625px;
        height:608px;
        @extend .absolute-center;
      }
    }

    .slide163{
      .bg2{
        @include at2x('../images/slide163/bg2',"png", 664px, 215px);
        width: 664px;
        height:215px;
        position: absolute;
        left: 164px;
        top: 305px;
        background-position: 0 215px;
        background-repeat: no-repeat;
      }

      .graph1{
        @include at2x('../images/slide163/graph1',"png", 625px, 608px);
        width: 625px;
        height:608px;
        @extend .absolute-center;
      }

      .graph2{
        @include at2x('../images/slide163/graph2',"png", 625px, 608px);
        width: 625px;
        height:608px;
        @extend .absolute-center;
      }
    }

    .slide18{
      .bg2{
        @include at2x('../images/slide18/bg2',"png", 613px, 234px);
        width: 613px;
        height:234px;
        position: absolute;
        left: 411px;
        top: 238px;
        opacity: 0;
      }
    }


}



.container{
  width: 1024px;
  height: 768px;
  position: absolute;
  top: 0;
  left: 0;
}

.map-btn{
	@extend .btn;
  @extend .bottom-btn;
  @include at2x('../images/map',"png", 65px, 54px);
	left: 914px;
  border-radius:5px 0 0 5px;
  -moz-border-radius:5px 0 0 5px;
  -webkit-border-radius:5px 0 0 5px;

  &[disabled]{
    opacity: 0.3;
  }
}

.video-btn{
  @extend .btn;
  @extend .bottom-btn;
  @include at2x('../images/play',"png", 101px, 65px);
  left: 0;
  border-radius: 0 5px 5px 0;
  -moz-border-radius:0 5px 5px 0;
  -webkit-border-radius:0 5px 5px 0;
  transition: all 1s;
  background-position:0 5px !important;

  &[disabled]{
    opacity: 0;
  }
}

.map{
  @extend .inherit-size;
  @include at2x('../images/map-bg',"png", 1002px, 708px);
  background-color: $backgroundGreenLight;
  background-repeat: no-repeat;
  background-position: 0 40px;
  position: absolute;

  h1{
    opacity: 1;
    left: 0;
  }

  button{
    transition: 1s all;
    &.active{
      top: 40px;
      left: 865px;
      z-index: 999999999999;
      transform: rotate(360deg) scale(1.8);
    }
  }

  .wait{
    transform: scale(0);
  }

  .asthma-btn{
  	@extend .btn;
  	@include at2x('../images/asthma',"png", 103px, 103px);
  	width: 103px;
  	height: 103px;
  	top: 231px;
    left: 54px;
  }

  .asthma-treatment-btn{
  	@extend .btn;
  	@include at2x('../images/asthma-treatment',"png", 83px, 83px);
  	width: 83px;
  	height: 83px;
  	top: 375px;
    left: 231px;
  }

  .overestimating-btn{
  	@extend .btn;
  	@include at2x('../images/overestimating',"png", 83px, 83px);
  	width: 83px;
  	height: 83px;
  	top: 375px;
    left: 408px;
  }

  .lacking-btn{
  	@extend .btn;
  	@include at2x('../images/lacking',"png", 83px, 83px);
  	width: 83px;
  	height: 83px;
  	top: 375px;
    left: 582px;
  }

  .improving-btn{
  	@extend .btn;
  	@include at2x('../images/improving',"png", 83px, 83px);
  	width: 83px;
  	height: 83px;
  	top: 375px;
    left: 797px;
  }

  .good-btn{
  	@extend .btn;
  	@include at2x('../images/good',"png", 83px, 83px);
  	width: 83px;
  	height: 83px;
  	top: 270px;
    left: 888px;
  }

  .corticosteroids-btn{
  	@extend .btn;
  	@include at2x('../images/corticosteroids',"png", 83px, 83px);
  	width: 83px;
  	height: 83px;
  	top: 511px;
    left: 439px;
  }

  .horizons-btn{
  	@extend .btn;
  	@include at2x('../images/horizons',"png", 103px, 103px);
  	width: 103px;
  	height: 103px;
  	top: 46px;
    left: 897px;
  }

}



