<div class="swiper-container" swiper>
	
	<button ui-sref="map" class="map-btn"></button>
	<button ng-click="showVideo = !showVideo" class="video-btn" ng-disabled="noVid"></button>
	
	<div class="swiper-wrapper">
		<div ui-view="slide11" class="swiper-slide slide11" vid="http://media.w3.org/2010/05/sintel/trailer.mp4"></div>
  		<div ui-view="slide12" class="swiper-slide slide12"></div>
		<div ui-view="slide13" class="swiper-slide slide13" vid="http://media.w3.org/2010/05/sintel/trailer.mp4"></div>
  		<div ui-view="slide14" class="swiper-slide slide14"></div>
  		<div ui-view="slide141" class="swiper-slide slide141"></div>
  		<div ui-view="slide142" class="swiper-slide slide142"></div>
  		<div ui-view="slide15" class="swiper-slide slide15"></div>
  		<div ui-view="slide151" class="swiper-slide slide151"></div>
  		<div ui-view="slide16" class="swiper-slide slide16"></div>
  		<div ui-view="slide161" class="swiper-slide slide161"></div>
  		<div ui-view="slide162" class="swiper-slide slide162"></div>
  		<div ui-view="slide163" class="swiper-slide slide163"></div>
  		<div ui-view="slide17" class="swiper-slide slide17"></div>
  		<div ui-view="slide18" class="swiper-slide slide18"></div>
	</div>
	
	<div class="popup video" ng-show="showVideo">
		<i class="fa fa-times" ng-click="showVideo = !showVideo"></i>
	</div>

</div>

