<div class="swiper-container" swiper>
	
	<button ui-sref="map" class="map-btn"></button>
	<button ng-click="showVideo = !showVideo" class="video-btn" ng-disabled="noVid"></button>
	
	<div class="swiper-wrapper">
		<div ui-view="slide11" class="swiper-slide slide11" vid="http://media.w3.org/2010/05/sintel/trailer.mp4"></div>
  		<div ui-view="slide12" class="swiper-slide slide12"></div>
	</div>
	
	<div class="popup video" ng-show="showVideo">
		<i class="fa fa-times" ng-click="showVideo = !showVideo"></i>
	</div>

</div>

