<h1>
	Real-world experience <br>
	with anti-IgE therapy
</h1>

<div class="slide-icon"></div>
<div class="road3"></div>
<div class="bg2"></div>

<button class="graph1-btn swiper-no-swiping" ng-click="$parent.graph1 = !$parent.graph1"></button>
<button class="graph2-btn swiper-no-swiping" ng-click="$parent.graph2 = !$parent.graph2"></button>

<div class="popup" ng-show="graph1" ng-click="$parent.graph1 = !$parent.graph1">
	<div class="graph1"></div>
</div>

<div class="popup" ng-show="graph2" ng-click="$parent.graph2 = !$parent.graph2">
	<div class="graph2"></div>		
</div>