<div class="map">
	
	<h1>Map</h1>

	<button ng-click="selectSlide(1)" class="asthma-btn"></button>
	<button ng-click="selectSlide(2)" class="asthma-treatment-btn"></button>
	<button ng-click="selectSlide(3)" class="overestimating-btn"></button>
	<button ng-click="selectSlide(4)" class="lacking-btn"></button>
	<button ng-click="selectSlide(5)" class="improving-btn"></button>
	<button ng-click="selectSlide(6)" class="good-btn"></button>
	<button ng-click="selectSlide(7)" class="corticosteroids-btn"></button>
	<button ng-click="selectSlide(8)" class="horizons-btn"></button>

</div>

