<div class="map">
	
	<h1>
		Improving the severe<br>
		asthma patient journey
	</h1>

	<button ng-click="selectSlide(0,$event)" class="asthma-btn"></button>
	<button ng-click="selectSlide(1,$event)" class="asthma-treatment-btn"></button>
	<button ng-click="selectSlide(2,$event)" class="overestimating-btn"></button>
	<button ng-click="selectSlide(4,$event)" class="lacking-btn"></button>
	<button ng-click="selectSlide(8,$event)" class="improving-btn"></button>
	<button ng-click="selectSlide(12,$event)" class="good-btn"></button>
	<button ng-click="selectSlide(6,$event)" class="corticosteroids-btn"></button>
	<button ng-click="selectSlide(13,$event)" class="horizons-btn"></button>

</div>

